/* * { 
    box-sizing: border-box;
} */

header {
    text-align: center;
}

main.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

main #div-1 {
    background-color: green;
}

main #div-2 {
    background-color: gray;
}

#div-3 {
    background-color: blueviolet;
}

#div-3 #canvas {
    display: block;
    margin: 0 auto;
}

#word-to-guess {
    background-color: yellow;
}

#div-4 {
    background-color: brown;
}

li.hidden {
    display: none;
}